<div class="episode-head">
  <div class="col-sm-12 text-center">
   <h2 class="section-header">The Joe Rogan Experience</h2>
   <h4 class="episode-number-header">Episode #394</h4>
  </div>
  <div class="row episode-head-container">
    <div class="col-xs-12">
      <div class="col-md-6 episode-content">
        <div class="episode-detail-rating">100%</div>
        <div class="episode-date"><span class="glyphicon glyphicon-time"></span>October 25, 2017</div>
        <h3 class="episode-name">This is the episode name</h3>
        <h4 class="episode-guest">Fname Lname, Fname Lname</h4>
        <div class="episode-blurb-large">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos architecto ut incidunt temporibus repudiandae natus aperiam non neque ex eum voluptate inventore, quam dolorum numquam voluptatum possimus maxime, ipsam laborum.
          <br><br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia earum, sit quia labore itaque, impedit libero, natus nisi quo eum animi omnis, sunt molestias. Eum deleniti cum quidem beatae cumque!
        </div>
        <p class="episode-likes"><span class="glyphicon glyphicon-heart"></span>112</p>
      </div>
      <div class="col-md-6 episode-img-container">
        <%= image_tag 'placeholder-img-500.png', class: 'episode-img' %>
      </div>
    </div>
  </div>
  <div class="episode-rating-container">
    <div class="col-sm-12 text-center">
     <h2 class="section-header">Reviews</h2>
    </div>
  </div>
  <div class="feature-container">
    <div class="row">

      <div class="col-md-6 feature-box">
        <div class="rating-card">
          <div class="rating-card-content">
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
          <div class="rating-user-details">
            <div class="col-sm-3">
              <%= image_tag 'placeholder-img.png', class: 'user-img' %>
            </div>
            <div class="col-sm-7">
              <h5 class="rating-name">Bryce Wendelaar</h5>
              <p class="rating-name-publication">TechCrunch</p>
            </div>
            <div class="col-sm-2">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 feature-box">
        <div class="rating-card">
          <div class="rating-card-content">
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
          <div class="rating-user-details">
            <div class="col-sm-3">
              <%= image_tag 'placeholder-img.png', class: 'user-img' %>
            </div>
            <div class="col-sm-7">
              <h5 class="rating-name">Bryce Wendelaar</h5>
              <p class="rating-name-publication">TechCrunch</p>
            </div>
            <div class="col-sm-2">
              <span class="glyphicon glyphicon-thumbs-down"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 feature-box">
        <div class="rating-card">
          <div class="rating-card-content">
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
          <div class="rating-user-details">
            <div class="col-sm-3">
              <%= image_tag 'placeholder-img.png', class: 'user-img' %>
            </div>
            <div class="col-sm-7">
              <h5 class="rating-name">Bryce Wendelaar</h5>
              <p class="rating-name-publication">TechCrunch</p>
            </div>
            <div class="col-sm-2">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 feature-box">
        <div class="rating-card">
          <div class="rating-card-content">
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
          <div class="rating-user-details">
            <div class="col-sm-3">
              <%= image_tag 'placeholder-img.png', class: 'user-img' %>
            </div>
            <div class="col-sm-7">
              <h5 class="rating-name">Bryce Wendelaar</h5>
              <p class="rating-name-publication">TechCrunch</p>
            </div>
            <div class="col-sm-2">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
