<div class="col-sm-12 text-center">
 <h2 class="section-header">Popular This Week</h2>
</div>

<div class="feature-container">
  <div class="row">
    <div class="col-md-6 feature-box">
      <div class="feature-card">
          <div class="card-img-container hidden-xs">
            <%= image_tag 'placeholder-img.png', class: 'card-img' %>
          </div>
          <div class="card-content">
            <div class="visible-xs">
              <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
            </div>
            <div class="feature-rating">100%</div>
            <span class="episode-number">Episode #210</span><br><br>
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
      </div>
    </div>

    <div class="col-md-6 feature-box">
      <div class="feature-card">
          <div class="card-img-container hidden-xs">
            <%= image_tag 'placeholder-img.png', class: 'card-img' %>
          </div>
          <div class="card-content">
            <div class="visible-xs">
              <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
            </div>
            <div class="feature-rating">100%</div>
            <span class="episode-number">Episode #210</span><br><br>
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
      </div>
    </div>

    <div class="col-md-6 feature-box">
      <div class="feature-card">
          <div class="card-img-container hidden-xs">
            <%= image_tag 'placeholder-img.png', class: 'card-img' %>
          </div>
          <div class="card-content">
            <div class="visible-xs">
              <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
            </div>
            <div class="feature-rating">100%</div>
            <span class="episode-number">Episode #210</span><br><br>
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
      </div>
    </div>

    <div class="col-md-6 feature-box">
      <div class="feature-card">
          <div class="card-img-container hidden-xs">
            <%= image_tag 'placeholder-img.png', class: 'card-img' %>
          </div>
          <div class="card-content">
            <div class="visible-xs">
              <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
            </div>
            <div class="feature-rating">100%</div>
            <span class="episode-number">Episode #210</span><br><br>
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
      </div>
    </div>

  </div>
</div>

<div class="col-sm-12 text-center">
 <h2 class="section-header">New Releases</h2>
</div>
<div class="title-container text-center">
  <div class="row title-width-sm">

    <div class="col-md-3 col-sm-6 title-box hidden-xs">
      <div class="title-card">
        <%= image_tag 'placeholder-img.png', class: 'title-card-img' %>
        <div class="feature-rating">96%</div>
        <span class="episode-number">Episode #210</span><br>
        <div class="title-card-content">
          <span class="episode-blurb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 feature-box visible-xs">
      <div class="feature-card text-left">
        <div class="card-content">
          <div class="">
            <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
          </div>
          <div class="feature-rating">100%</div>
          <span class="episode-number">Episode #210</span><br><br>
          <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 title-box hidden-xs">
      <div class="title-card">
        <%= image_tag 'placeholder-img.png', class: 'title-card-img' %>
        <div class="feature-rating">96%</div>
        <span class="episode-number">Episode #210</span><br>
        <div class="title-card-content">
          <span class="episode-blurb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 feature-box visible-xs">
      <div class="feature-card text-left">
        <div class="card-content">
          <div class="">
            <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
          </div>
          <div class="feature-rating">100%</div>
          <span class="episode-number">Episode #210</span><br><br>
          <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 title-box hidden-xs">
      <div class="title-card">
        <%= image_tag 'placeholder-img.png', class: 'title-card-img' %>
        <div class="feature-rating">96%</div>
        <span class="episode-number">Episode #210</span><br>
        <div class="title-card-content">
          <span class="episode-blurb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 feature-box visible-xs">
      <div class="feature-card text-left">
        <div class="card-content">
          <div class="">
            <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
          </div>
          <div class="feature-rating">100%</div>
          <span class="episode-number">Episode #210</span><br><br>
          <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 title-box hidden-xs">
      <div class="title-card">
        <%= image_tag 'placeholder-img.png', class: 'title-card-img' %>
        <div class="feature-rating">96%</div>
        <span class="episode-number">Episode #210</span><br>
        <div class="title-card-content">
          <span class="episode-blurb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 feature-box visible-xs">
      <div class="feature-card text-left">
        <div class="card-content">
          <div class="">
            <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
          </div>
          <div class="feature-rating">100%</div>
          <span class="episode-number">Episode #210</span><br><br>
          <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 title-box hidden-xs">
      <div class="title-card">
        <%= image_tag 'placeholder-img.png', class: 'title-card-img' %>
        <div class="feature-rating">96%</div>
        <span class="episode-number">Episode #210</span><br>
        <div class="title-card-content">
          <span class="episode-blurb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 feature-box visible-xs">
      <div class="feature-card text-left">
        <div class="card-content">
          <div class="">
            <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
          </div>
          <div class="feature-rating">100%</div>
          <span class="episode-number">Episode #210</span><br><br>
          <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 title-box hidden-xs">
      <div class="title-card">
        <%= image_tag 'placeholder-img.png', class: 'title-card-img' %>
        <div class="feature-rating">96%</div>
        <span class="episode-number">Episode #210</span><br>
        <div class="title-card-content">
          <span class="episode-blurb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 feature-box visible-xs">
      <div class="feature-card text-left">
        <div class="card-content">
          <div class="">
            <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
          </div>
          <div class="feature-rating">100%</div>
          <span class="episode-number">Episode #210</span><br><br>
          <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 title-box hidden-xs">
      <div class="title-card">
        <%= image_tag 'placeholder-img.png', class: 'title-card-img' %>
        <div class="feature-rating">96%</div>
        <span class="episode-number">Episode #210</span><br>
        <div class="title-card-content">
          <span class="episode-blurb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 feature-box visible-xs">
      <div class="feature-card text-left">
        <div class="card-content">
          <div class="">
            <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
          </div>
          <div class="feature-rating">100%</div>
          <span class="episode-number">Episode #210</span><br><br>
          <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 title-box hidden-xs">
      <div class="title-card">
        <%= image_tag 'placeholder-img.png', class: 'title-card-img' %>
        <div class="feature-rating">96%</div>
        <span class="episode-number">Episode #210</span><br>
        <div class="title-card-content">
          <span class="episode-blurb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 feature-box visible-xs">
      <div class="feature-card text-left">
        <div class="card-content">
          <div class="">
            <span class="episode-number"><strong>The Joe Rogan Experience</strong></span><br><br>
          </div>
          <div class="feature-rating">100%</div>
          <span class="episode-number">Episode #210</span><br><br>
          <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
        </div>
      </div>
    </div>


  </div>
</div>
